.Main
{

  margin: auto;
  text-align: center;
  margin-top: 50px;
  height: 750px;
  width: 350px;
  background-color: #f8c3d3;
  box-shadow: 0px 0px 10px rgb(83, 48, 69) ;
  padding:15px 50px ;
}
.bal
{
  text-align: left;
  color: #15121b;
}

.track
{
  color:#15121b;
}
.expCont
{
  background-color: #f8ccd9;
  color: #15121b;
  text-align: left;
  display: flex;
  justify-content: space-around;
  box-shadow: 0px 0px 10px rgb(83, 48, 69) ;
}
.his
{
  text-align: left;
}

.trs
{
  text-align: left;
}
hr
{
  color: rgb(143, 84, 12);
}
.tranList
{
  margin: 0px;
  padding: 0px;

}

.tranList > li 
{
  display: flex;
  justify-content: space-between;
  box-shadow: 0 0 5px #1b1820;
  padding: 5px 2px;
  margin:  10px 10px;
}
.traForm input
{
  width: 100%;
  margin: 10px 0;
  padding: 5px 0;
}